<span>
  
    
<h5><marquee direction="right" scrollamount="8">Free shipping on all India order. 10% off on purchase above Rs 1000. Use code ECRAFT10 to get discount</marquee></h5>
    
</span>

<nav class="navbar bg-body-primary">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="assets/images/apple-touch-icon.png" width="200px" height="120px"></a>
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

  </div>
</nav>

 <nav class="navbar navbar-expand-lg " style=" background-color: #D5D6EA;"  >
  <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: #9F000F;">Home</a>
        </li>
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: #9F000F;">Home Decor</a>
        </li>
      </ul>

    </div>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item ">
            <a class="nav-link" aria-current="page" routerLink="/login" style="color: #9F000F;">LogIn</a>
          </li>
        
  
                <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/register" style="color: #9F000F;">Register</a>
          </li>
        </ul>        
        
        </div>
 
</nav><br> 