<div class="container-fluid">
    <h4>LogIn</h4>
<br>
<form (ngSubmit)="onSubmit()">
<div>
<label for="email">Email :</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" name="email" id="email" placeholder="Enter Your Email" [(ngModel)]="email" required autofocus>
</div><br>

<div>
<label for="password">Password :</label>&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" name="password" id="password" placeholder="Enter Your Password" [(ngModel)]="password" required>
</div>
<br>
<div>
<button type="submit" class="btn btn-success">Submit</button>
</div>
</form>
</div>

